<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p><%= title %></p>
  <div>
    <form action="/reg" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="text" name="username" required="required"/>
      <input type="text" name="password" required="required"/>
      <button type="submit">Register</button>

    </form>


  </div>
</body>

</html>
