<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../common/head %>
</head>

<body id="page-top">
  <% include ../common/nav %>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div cålass="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">WE DESIGN YOUR LIFE WITH REAL CYCLING</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">-REALDESIGNTECH-</p>
          <!---특정 계정만 transaction, mining 할 수 있도록..-->
          <!--transaction-->
          <!--coin 객수 userlist에서 접속 user에 해당하는 것만 보여주면 된다..-->
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/wallet">Wallet Generate</a>
          <br />
          <h2><%= coin %></h2>
          <label>private key:</label>
          <textarea name="pri_key" id="pri_key" rows="10" class="form-control" readonly><%= pri_key %></textarea>
          <br />
          <label>public key:</label>
          <textarea name="pub_key" id="pub_key" rows="5" class="form-control" readonly><%= pub_key%></textarea>
        </div>
      </div>
    </div>
  </header>
  <!-- Footer -->
  <% include ../common/footer %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>

</body>

</html>
